QuanLyQuanKem/QuanLyQuanKemWCF/QuanLyQuanKemWCF/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFBanKem" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getIceCream">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getIceCreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="getIceCreamResult" nillable="true" type="q3:ArrayOfIce_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIceCream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="i" nillable="true" type="q4:Ice_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addIceCreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addIceCreamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editIceCream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="i" nillable="true" type="q5:Ice_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="editIceCreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="editIceCreamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteIceCream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="i" nillable="true" type="q6:Ice_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="deleteIceCreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deleteIceCreamResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datKem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="i" nillable="true" type="q7:Ice_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="datKemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="datKemResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="banduoc">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="banduocResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="banduocResult" nillable="true" type="q8:ArrayOfIce_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="tonlai">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="tonlaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="tonlaiResult" nillable="true" type="q9:ArrayOfIce_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findIceCream">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="i" nillable="true" type="q10:Ice_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="findIceCreamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFBanKem" minOccurs="0" name="findIceCreamResult" nillable="true" type="q11:ArrayOfIce_cream" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>